{% extends "base.html" %}

{% block title %}All{% endblock %}

{% block content %}

{% for video in videos %}

<iframe
width="560"
height="315"
src="https://www.youtube-nocookie.com/embed/{{ video }}"
srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ video }}?autoplay=1><img src=https://img.youtube.com/vi/{{ video }}/hqdefault.jpg alt='Music'><span>▶</span></a>"
frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen
title="Music"
></iframe>

{% endfor %}

<br>
<br>

<form action="/submit" method="post">
    <input style="background-color:rgb(150,200,50);" type="text" name="link" placeholder="Your fine addition">
    <input style="background-color:rgb(200,250,80);" type="submit" value="Send through the pipe">
</form>

{% endblock %}
