<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} - SoundClot</title>
  <link rel="icon" href="static/favicon.png">
  <meta name="viewport" content="width=580">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142188591-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142188591-5');
</script>


</head>
<body>
<style>
body {
  background-color: gold;
}

.review:hover {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.header {
  font-size:0;
}

a img {
  border: 0;
  display: inline-block;
  white-space: nowrap;
}

</style>

<div class="header">
  <a href="/"><img src="static/clot.png"></a>
  <a href="/all"><img src="static/all.png"></a>
  <a href="/"><img src="static/one.png"></a>
  <a href="/dance"><img src="static/dance.png"></a>
</div>

<br>

{% block content %}{% endblock %}



<!--<a href="mailto: pipe@soundclot.com">Submit something</a>-->

{% include "social.html" %}


<a href="https://void4.github.io">
  <img id="ra" style="position:fixed; bottom: 0; right: 0px;" width="30" src="static/note.png"></img>
</a>
</body>
</html>
